body{
    background-color: #E2E0E2;
}

.text-white{
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.btn-color{
    background-color: #e93353;
    color: white;
    text-transform: uppercase;
}

.btn-color-item{
    border:2px solid  #e93353;
    color: #e93353;
    text-transform: uppercase;
}

.btn-color-item:hover{
    background-color: #e93353;
    color: white;
    
}

.card-img-top{
    height: 180px;
}

.modal{
    background: rgba(0, 0, 0, 0.3);
  
}

.modal-content{
    
   
    height: 550px;
    overflow: auto;

}

.display-block{
    display: block;
}

.display-none{
    display: none;
}